.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: blue;
  color: white;
  border: 2px solid #4CAF50;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px;
  border-style: solid;
  font-size: 40px;
  text-align: center;
}

.potatos {
  float: left;
  content: "picture";
  clear: left;
  display: table;
  padding: 10px 10px 10px 10px;
}

div {
  clear: both;
  content: "picture";
  clear: left;
  display: table;
  padding: 10px 10px 10px 10px;
}

.bachleors {
  float: right;
}

.info {
    text-align: left;
    color: red;
    font-family:fantasy;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px;
    font-size: 20px;
}

.info2 {
    text-align: left;
    color: red;
    font-family:fantasy;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.info3 {
    text-align: left;
    color: red;
    font-family:fantasy;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.links {
  top: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
  background: white;
  color: white;
  position: fixed
}

.table {
  border: 5px solid black;
  width: 100%;
  border-collapse: collapse;
}

.worldatfingertips {
  float: center;
  height: 300px;
  width: 50%;
}

.isolation {
  float: center;
  height: 300px;
  width: 50%;
}

.potatos2 {
  float: right;
  content: "picture";
  clear: right;
  display: table;
  padding: 10px 10px 10px 10px;
  height: 500px;
  width: 25%;
}

td {
  height: 50px;
  vertical-align: bottom;
  width: 50%;
  text-align: center;
}

.info4 {
    text-align: left;
    color: red;
    font-family:fantasy;
    text-align: center;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}